extends base.pug

block scripts
    script(src='../static/index.js')

block style 
    style 
        include ../static/style.css

block content
    div#introSection
        div#div1 Fitness Zone
        div#div2 Eat Sleep Gym Repeat 
    
    div
        div.detailsSection1
            div
                img(src="img/img1.jpg")
            div.details Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis ullam a nemo quam, ab expedita repellat provident voluptates dignissimos? Aspernatur expedita sunt hic consectetur voluptatibus aperiam quos accusamus atque mollitia sequi ut, nostrum quas excepturi commodi. Vero quos ipsam, accusamus molestias reiciendis, eveniet placeat at consequuntur molestiae hic debitis explicabo, quam corporis perspiciatis est id deleniti optio ab ipsa deserunt voluptas porro eligendi architecto? Libero assumenda dolores ipsam vitae eius aspernatur repellat atque quaerat qui corporis ea quam, amet, maxime illum nostrum at, quod eos officia dolorem incidunt? Provident commodi deleniti animi fuga, porro soluta! Unde, eveniet! Distinctio, magnam nesciunt? Atque, soluta vel.
        div.detailsSection1
            div.details Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit necessitatibus, vitae praesentium nemo reiciendis incidunt natus nam error officiis numquam quae corrupti corporis nisi accusantium aliquid illo laboriosam facere accusamus commodi. Similique, nemo nam blanditiis tempore impedit suscipit ipsa, labore non eius enim culpa sit expedita quas totam porro ut eveniet laboriosam minima. Temporibus explicabo officia error fugit alias. Harum eum laborum commodi quod alias incidunt unde quaerat inventore facere. Eum molestias, maxime officiis laboriosam itaque corrupti, ex nam obcaecati neque libero voluptatibus tenetur consequatur, explicabo doloremque eos. Voluptates, laborum. Eum facilis, quidem pariatur dignissimos nesciunt natus maiores expedita illum fugit voluptatem necessitatibus corrupti aliquam, amet facere! Placeat, ipsum nihil optio atque explicabo praesentium ipsam nobis id, ut cumque impedit iste earum excepturi omnis, sunt alias ducimus quasi non repellendus eaque aliquam eius doloremque? Doloribus aliquid cum voluptate impedit ducimus saepe officia velit inventore debitis, repudiandae enim sequi nulla aspernatur. At, nobis aut temporibus nam voluptas quas sint ratione similique error soluta. Corporis ratione quam impedit dolores, eveniet laudantium voluptatibus reiciendis, unde amet odit ducimus! Cum hic ex dolorem ab nobis totam, quidem ea aliquam aspernatur eaque aperiam eius suscipit. Eos sunt sequi facere impedit quisquam ullam vitae. Aut, obcaecati.
            div
                img(src="img/img2.jpg")
        
    
